# Don't track monitor rules
/hypr/.config/hypr/hyprland/monitor.conf
monitor.conf

# Don't track local settings for hyprland
local.conf

# Don't track local settings for audio outputs
audiooutbuttons.yuck

# Don't track lazy-nvim current package versions
lazy-lock.json
